body {
    background-color: powderblue;
    min-height: 100vh;
    max-width: 500vh;
}

#mobile {
    display: none
}

@media only screen and (max-width: 767px) {
    #mobileDiv {
        display: block; /* Display the div on mobile devices */
    }
}

div.absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
}

div.buttons {
    position: absolute;
    top: 600px;
    left: 150px;
    width: 200px;
    height: 100px;
}

div.arrowup {
    position: absolute;
    top: 500px;
    left: 350px;
    width: 100px;
    height: 100px;
}

div.arrows {
    position: absolute;
    top: 550px;
    left: 300px;
    width: 250px;
    height: 100px;
}

div.arrowdown {
    position: absolute;
    top: 600px;
    left: 345px;
    width: 100px;
    height: 100px;
}

div.zx {
    position: absolute;
    top: 550px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 20px;
    margin-right:50px;
    touch-action: manipulation;
}

.smaller-gap {
    margin-right:10px;
    margin-top: 10px;
}